{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Badboystyle|Gallery
{% endblock %}

{% block body %}
<main class="page gallery-page">
    <section class="clean-block clean-gallery dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Gallery</h2>
                <p>Check out out awesome styles !!!</p>
            </div>
            <div class="row">
                {% for gallerie in gallery %}
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{{ gallerie.image.url }}"><img class="img-thumbnail img-fluid image" src="{{ gallerie.image.url }}"></a></div>
                {% endfor %}
                <!-- <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image4.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image4.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image6.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image6.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image5.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image5.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image1.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image1.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image4.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image4.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image6.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image6.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image5.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image5.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="{% static 'media/img/scenery/image1.jpg' %}"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/image1.jpg"></a></div> -->
            </div>
        </div>
    </section>
</main>
{% endblock %}