{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Badboystyle|Signup
{% endblock %}

{% block body %}

<main class="page registration-page">
    {% if error %}
    <div class="container">
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    </div>
    {% endif %}
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Sign Up</h2>
                <p>Sign Up to get some of the best deals over the whole internet !!!</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3"><label class="form-label" for="username">Userame</label><input class="form-control item" type="text" id="username" name="username"></div>
                <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control item" type="email" id="email" name="email"></div>
                <div class="mb-3"><label class="form-label" for="password1">Password</label><input class="form-control item" type="password" id="password1" name="password1"></div>
                <div class="mb-3"><label class="form-label" for="password2">Re-Enter Password</label><input class="form-control item" type="password" id="password2" name="password2"></div>
                <button class="btn btn-primary" type="submit">Sign Up</button>
                <p class="m-1 p-1">Already Registered ? <a href="{% url 'home:login' %}">Login</a></p>
            </form>
        </div>
    </section>
</main>
{% endblock %}